body {
  background-color: #f7f7f7 !important;
}

main {
  padding: 25px;
}

.sideBar {
  background-color: #f7f7f7 !important;
  padding: 10px;
}

.sideBarListCard .MuiButtonBase-root {
  background-color: #f7f7f7 !important;
  margin-bottom: 10px;
  padding: 10px;
}

.sideBarListCardContainer {
  min-height: 550px;
  padding: 20px 12px;
}

.actionBtnsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.alertDiv {
  background-color: #3c8d41;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
